.navbar {
    display: flex;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
    background-color: #007f99;
    padding: 12px 20px;
    align-items: center;
    width: 100%;
    color: white;
}

.navbar > h1 {
    font-size: 28px;
    margin: 0 5px;
    cursor: pointer;
}


.navbar > li, a {
    padding-top: 5px;
    text-decoration: none;
    margin: 0px 5px;
    cursor: pointer;
    color: white;
    font: caption;
}
