body {
  margin: 0;
}

*{
  box-sizing: border-box;
}

li,ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,h2,h3,p,span{
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}