.storeList {
    border-bottom: 1px solid #007f99;
    display: flex;
    padding: 8px 0;
    font-size: 7px;
}


.storeList > h1, button {
    width: 10%;
}


.storeList > .name {
   width: 60%;
}


